In [32]:
import pandas as pd
import numpy as np

In [33]:
from hijri_converter import convert
def convert_date(date_string):
    return pd.to_datetime(date_string, format='%d/%m/%Y')

df = pd.read_excel("RequiredData.xlsx", sheet_name="Reservation List", converters={'Reservation Check-out Date ':convert_date})

df['Hijri Check-out Date'] = df['Reservation Check-out Date '].apply(lambda x: convert.Gregorian(x.year, x.month, x.day).to_hijri())

df.head(10)

,Reservation ID,Reservation Creation Date (DD-MM-YYYY),Reservation Check-in Date,Reservation Check-out Date,Reservation Total Price,#Rooms,Cancellation Date,"Type\nallotment (1), sales allotment (2), direct hotel (3)or direct agent(4)",Hijri Check-out Date
0,1,2023-01-01,2023-01-05 00:00:00,2023-12-05,24000,10,NaN,1,1445-05-21
1,2,2023-01-01,2023-04-05 00:00:00,2023-09-05,5000,5,NaN,1,1445-02-20
2,3,2023-01-01,2023-09-08 00:00:00,2023-10-08,200,5,NaN,1,1445-03-23
3,4,2023-02-01,2023-07-09 00:00:00,2023-09-16,7200,4,2023-06-08 00:00:00,1,1445-03-01
4,5,2023-02-01,2023-09-01 00:00:00,2023-12-01,81400,20,NaN,2,1445-05-17
5,6,2023-03-01,21/4/2023,2023-04-27,74243,55,20/4/2023,1,1444-10-07
6,7,2023-05-01,2023-03-05 00:00:00,2023-12-05,12345,1,NaN,1,1445-05-21

In [37]:
from hijri_converter import Hijri
Hijri(1433, 9, 1)

Hijri(1433, 9, 1)

In [36]:
value_1 = df.loc[0,'Hijri Check-out Date']
value_2 = df.loc[6,'Hijri Check-out Date']


if value_1 > value_2:
    print("The first row is bigger.")
elif value_1 < value_2:
    print("The first row is smaller.")
else:
    print("The values are equal.")

The values are equal.